body {
    box-sizing: border-box;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 0.9375rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 15.625rem;
    padding: 0.9375rem;
    border-radius: 0.9375rem;
    box-shadow: 0 0.625rem 1.25rem hsl(219, 23%, 83%);
}

.qr-img {
    width: 100%;
    border-radius: 0.625rem;
}

.text-container {
    padding: 0.625rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 1.25rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}